<div style="height: 3rem"></div>

<div class="accordion" id="announcements">
    <div v-for="(item,index) in announcements">
        <div class="card border-info">
            <div class="card-header" :id="notice(index)" style="padding: 0px">

                <button class="btn btn-line-info collapsed" type="button" data-toggle="collapse" :data-target="co(index)" aria-expanded="false" aria-controls="collapse(index)" style="width: 100%">
                    <span class="float-left">[[item.title]]</span>
                    <span class="float-right">[[date(item.pub_date)]]</span>
                </button>

            </div>
            <div :id="collapse(index)" class="collapse" aria-labelledby="notice(index)" data-parent="#announcements">
              <div class="card-body text-info">
                  <pre>[[item.notice]]</pre>
              </div>
            </div>
        </div>
    </div>
</div>
