
<div style="height: 3rem"></div>
<div class="card shadow">
    <nav class="card-header">
        <div class="nav nav-tabs card-header-tabs w-100" id="nav-customer-orders" role="tablist">
            <a class="nav-item nav-link active" id="nav-waiting-tab" data-toggle="tab" href="#nav-waiting" role="tab" aria-controls="nav-waiting" aria-selected="true">待处理</a>
            <a class="nav-item nav-link" id="nav-processing-tab" data-toggle="tab" href="#nav-processing" role="tab" aria-controls="nav-processing" aria-selected="false">处理中</a>
            <a class="nav-item nav-link" id="nav-finish-tab" data-toggle="tab" href="#nav-finish" role="tab" aria-controls="nav-finish" aria-selected="false">处理完成</a>
            <a class="nav-item nav-link" id="nav-close-tab" data-toggle="tab" href="#nav-close" role="tab" aria-controls="nav-close" aria-selected="false">已关闭</a>
            <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="false">提交问题</a>

        </div>
    </nav>
    <div class="tab-content card-body" id="nav-co-list">
        <div class="tab-pane fade show active" id="nav-waiting" role="tabpanel" aria-labelledby="nav-waiting-tab">
            <h3 class="text-center">已提交等待处理的问题列表</h3>
            <div style="height: 10px"></div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="10px">序号</th>
                    <th width="100px">快递单号</th>
                    <th width="80px">问题类型</th>
                    <th width="300px">问题描述</th>
                    <th width="80px">处理状态</th>
                    <th width="200px">提交时间</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(item, index) in waiting" :key="index">
                    <tr>
                        <td>[[index + 1]]</td>
                        <td>[[item.zto_number]]</td>
                        <td>[[item.question_types]]</td>
                        <td>[[item.question_text]]</td>
                        <td>待处理</td>
                        <td>[[item.create_time]]</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" id="nav-processing" role="tabpanel" aria-labelledby="nav-processing-tab">
            <h3 class="text-center">处理中的问题列表</h3>
            <div style="height: 10px"></div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="10px">序号</th>
                    <th width="100px">快递单号</th>
                    <th width="80px">问题类型</th>
                    <th width="300px">问题描述</th>
                    <th width="80px">处理状态</th>
                    <th width="200px">提交时间</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(item, index) in processing" :key="index">
                    <tr>
                        <td>[[index + 1]]</td>
                        <td>[[item.zto_number]]</td>
                        <td>[[item.question_types]]</td>
                        <td>[[item.question_text]]</td>
                        <td>待处理</td>
                        <td>[[item.create_time]]</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" id="nav-finish" role="tabpanel" aria-labelledby="nav-finish-tab">
            <h3 class="text-center">已完成的问题列表</h3>
            <div style="height: 10px"></div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="10px">序号</th>
                    <th width="100px">快递单号</th>
                    <th width="80px">问题类型</th>
                    <th width="300px">问题描述</th>
                    <th width="80px">处理状态</th>
                    <th width="200px">提交时间</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(item, index) in finish" :key="index">
                    <tr>
                        <td>[[index + 1]]</td>
                        <td>[[item.zto_number]]</td>
                        <td>[[item.question_types]]</td>
                        <td>[[item.question_text]]</td>
                        <td>待处理</td>
                        <td>[[item.create_time]]</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" id="nav-close" role="tabpanel" aria-labelledby="nav-close-tab">
            <h3 class="text-center">已关闭的问题列表</h3>
            <div style="height: 10px"></div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="10px">序号</th>
                    <th width="100px">快递单号</th>
                    <th width="80px">问题类型</th>
                    <th width="300px">问题描述</th>
                    <th width="80px">处理状态</th>
                    <th width="200px">提交时间</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="(item, index) in closes" :key="index">
                    <tr>
                        <td>[[index + 1]]</td>
                        <td>[[item.zto_number]]</td>
                        <td>[[item.question_types]]</td>
                        <td>[[item.question_text]]</td>
                        <td>待处理</td>
                        <td>[[item.create_time]]</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" id="nav-create" role="tabpanel" aria-labelledby="nav-create-tab">

            <!--the form for create-question begin-->
            <form>
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-form-label-lg col-sm-2 pt-0">问题类型：</legend>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio" name="questionTypes" id="questionTypesLJ" value="LJ" checked>
                                    <label class="form-check-label form-check-label-lg w-100" for="questionTypesLJ">
                                        拦截
                                    </label>
                                </div>
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio" name="questionTypes" id="questionTypesGDZ" value="GDZ">
                                    <label class="form-check-label form-check-label-lg w-100" for="questionTypesGDZ">
                                        改地址
                                    </label>
                                </div>
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio" name="questionTypes" id="questionTypesCP" value="CP">
                                    <label class="form-check-label form-check-label-lg w-100" for="questionTypesCP">
                                        催派
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio" name="questionTypes" id="questionTypesYW" value="YW">
                                    <label class="form-check-label form-check-label-lg w-100" for="questionTypesYW">
                                        延误
                                    </label>
                                </div>
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio" name="questionTypes" id="questionTypesYS" value="YS">
                                    <label class="form-check-label form-check-label-lg w-100" for="questionTypesYS">
                                        遗失
                                    </label>
                                </div>
                                <div class="form-check col-3">
                                    <input class="form-check-input" type="radio" name="questionTypes" id="questionTypesZL" value="ZL">
                                    <label class="form-check-label form-check-label-lg w-100" for="questionTypesZL">
                                        查询重量
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="create_zto_number" class="col-sm-2 col-form-label">运单号：</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="create_zto_number">
                    </div>
                    <div class="col-sm-8">
                        <p class="text-danger" id="create_zto_number_danger"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="createQuestionText" class="col-sm-2 col-form-label">问题描述：</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="createQuestionText"></textarea>
                    </div>
                </div>
            </form>
                <div class="form-group row justify-content-end">
                    <div class="col-sm-4">
                        <button class="btn btn-primary" id="createOrdersC">提交</button>
                    </div>
                    <div class="col-sm-6">
                        <p id="create_zto_number_result"></p>
                    </div>
                </div>

        </div>
    </div>
</div>
