<div style="height: 3rem"></div>

<div class="accordion" id="handover">
    <template v-if="handover">
        <div v-for="(item,index) in handover">
            <div class="card border-info">
                <div class="card-header" :id="notice(index)" style="padding: 0px">

                    <button class="btn btn-line-info collapsed" type="button" data-toggle="collapse" :data-target="co(index)" aria-expanded="false" aria-controls="collapse(index)" style="width: 100%">
                        <span class="float-left">[[item.title]]</span>
                        <span class="float-right">[[date(item.pub_date)]]</span>
                    </button>

                </div>
                <div :id="collapse(index)" class="collapse" aria-labelledby="notice(index)" data-parent="#handover">
                  <div class="card-body text-info">
                      <p class="text-primary">交接给：[[item.recipient]]</p>
                      <pre>[[item.handover_text]]</pre>
                      <span class="float-right">[[item.user]]</span>
                  </div>
                </div>
            </div>
        </div>
    </template>

</div>


