<div style="height: 3rem"></div>
<div class="card shadow">
    <nav class="card-header container-fluid">
        <div class="nav nav-tabs card-header-tabs w-100 row" id="service-workbench-nav-tab" role="tablist">

            <a class="col-md-2 col-lg-1 nav-item nav-link active text-center" id="nav-service-processing-tab"
               data-toggle="tab"
               href="#nav-service-processing"
               role="tab"
               aria-controls="nav-service-processing" aria-selected="true">处理中</a>
            <a class="col-md-2 col-lg-1 nav-item nav-link text-center" id="nav-service-finished-tab" data-toggle="tab"
               href="#nav-service-finished"
               role="tab"
               aria-controls="nav-service-finished" aria-selected="false">已完成</a>
            <div class="col-md-2 col-lg-7"></div>
            <div class="col-md-4 col-lg-2"><a href="javascript:void(0);" class="btn btn-primary" id="service-waiting">接单（待处理<span
                    class="text-warning font-weight-bold" id="waiting-orders-quantity"></span>）</a>
            </div>
            <div class="col-md-2 col-lg-1"><a href="javascript:void(0);" class="btn btn-warning" id="service-handover">交接</a>
            </div>


        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-service-processing" role="tabpanel"
             aria-labelledby="nav-service-processing-tab">
            <h3 class="text-center">处理中的问题</h3>
            <div style="height: 10px"></div>
        </div>
        <div class="tab-pane fade" id="nav-service-finished" role="tabpanel" aria-labelledby="nav-service-finished-tab">
            <h3 class="text-center">已完成的问题</h3>
            <div style="height: 10px"></div>
        </div>
    </div>
</div>


<!-- Order Modal -->
<div class="modal fade bd-example-modal-lg" id="order-modal" tabindex="-1" role="dialog"
     aria-labelledby="orderModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div><h5 class="modal-title" id="orderModalTitle">单号：<span class="text-primary" id="orderModalNumber">12345678912345</span></h5></div>
                <div style="width: 10rem"></div>
                <div><h5 class="modal-title">问题类型：<span class="text-success font-weight-bold" id="orderModalQuestionType">改地址</span></h5></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>问题描述</h6>
                <pre class="alert alert-success" id="orderModalQuestionText">
                </pre>
                <div class="form-group">
                    {% csrf_token %}
                    <label class="col-form-label" for="comment-text">处理意见：</label>
                    <textarea class="form-control" name="orderModalCommentText" id="orderModalCommentText" cols="30"
                              rows="3"></textarea>

                </div>
                <div style="text-align: center; width: 100%;">
                    <button type="button" class="btn btn-primary" style="width: 10rem;" id="orderModalSubmit">提交
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>